# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Ambiente virtual
# -------------------------
venv/
env/
.venv/

# -------------------------
# Banco de dados
# -------------------------
*.db
*.sqlite3

# -------------------------
# Flask
# -------------------------
instance/

# -------------------------
# IDEs
# -------------------------
.vscode/
.idea/

# -------------------------
# Sistema
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Arquivos temporários
# -------------------------
*.tmp
*.swp
